hydra-core==1.2.0
omegaconf==2.2.2
pytorch_lightning==1.6.4
torch==1.12.0
torchvision==0.13.0
torchmetrics==0.9.2
numpy==1.22.3
scikit_learn==1.1.1
scipy==1.7.3
pandas==1.4.3
matplotlib==3.5.1
seaborn==0.11.2
rdkit
loguru==0.6.0
pytest==7.1.2
PyYAML==6.0
tqdm==4.64.0
GitPython==3.1.27
Pillow==9.2.0
six==1.16.0
batchgenerators==0.24
toma==1.1.0